:root {
    --background: #a8b9ef;
    --white: white;
    --black: black;
    --transparent: transparent;

    --light-gray: #b3b2b2;
    --gray: gray;
    --dark-gray: dimgray;

    --blue: #3863ff;
    --light-blue: #879dff;
}

.welcomePage {
    padding-top: 30vh;
}

.homeImage {
    position: relative !important;
    bottom: 63.7% !important;
}

.homeBorder {
    bottom: 75% !important;
    position: relative !important;
}

.card {
    word-wrap: anywhere !important;
    border: 0 !important;
}

.description {
    border: 0 !important;
}

.description::after {
    content: none !important;
}

.description:focus {
    box-shadow: none !important;
}

.description:hover {
    background-color: #d9dce2 !important;
    color: black !important;
}

.descriptionField {
    background-color: #ffffff !important;
    min-height: 10vh !important;
    border-radius: 3px;
}

.cardModal {
    border: 0 !important;
    background-color: #d9dce2 !important;
    width: 168px !important;
    text-align: start !important;
}

.cardModal::after {
    content: none !important;
}

.cardModal:focus {
    box-shadow: none !important;
}

.cardModal:hover {
    background-color: #e1e4e9 !important;
    color: black !important;
}

.addCard {
    border: 0 !important;
    position: sticky !important;
    bottom: 0 !important;
    background-color: #ebecf0 !important;
    z-index: 1 !important;
}

.cardBody {
    z-index: 0 !important;
}

.addCard:focus {
    box-shadow: none !important;
}

.addCard:hover {
    background-color: #ebecf0 !important;
    color: black !important;
}

.modal-content {
    background-color: #ebecf0 !important;
}

.badger {
    width: 40px !important;
}

.form-control {
    word-wrap: anywhere !important;
}

.modal-header {
    border-bottom: none !important;
}

.dropdownMenu {
    background-color: black !important;
    content: none !important;
    border: none !important;
}

.dropdownMenu:focus {
    box-shadow: none !important;
}

.cardTitle {
    height: 35px !important;
    color: #172b4d !important;
    font-weight: 800 !important;
}

.header {
    position: sticky !important;
    top: 0 !important;
    background-color: #ebecf0 !important;
    z-index: 1 !important;
}

.columns {
    color: black !important;
    background-color: #ebecf0 !important;
}

.row {
    --bs-gutter-x: 0 !important;
}

.btn {
    font-size: 14px !important;
    font-weight: 600 !important;
}

.dropdown-toggle::after {
    content: none !important;
}

.cardCard {
    box-shadow: 0 1px 0 #091e4240 !important;
}

.homebutton {
    font-size: 19px !important;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2286x1600/24baa6609b89fb8eb0cc0aceb70eaf36/photo-1557682250-33bd709cbe85.jpg");
    background-size: cover;
    color: white !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    /*font-family: 'Work Sans', sans-serif !important;*/
}

footer {
    background-color: #4126ab;
    position: fixed;
    bottom: 0;
    color: white !important;
    width: 100%;
}

#navbar {
    background-color: #4126ab;
    color: white !important;
    max-height: 44px;
}

.boardButton {
    background-color: #9f619a !important;
    border: none !important;
    color: white !important;
    height: 42px !important;
    width: 272px !important;
    text-align: start !important;
}

.inputText:focus {
    box-shadow: none !important;
    border-color: white !important;
}

.boardButton:hover {
    background-color: #a17eb1 !important;
}

.boardButton:focus {
    box-shadow: none !important;
}

.boardButton:active {
    user-select: none !important;
}


.linkButtons {
    background-color: #4126ab !important;
    border: none !important;
}

.linkButtons:hover {
    background-color: #6751bc !important;
}

.linkButtons:focus {
    box-shadow: none !important;
}

.linkButtons:active {
    user-select: none !important;
}

.scrollable-board {
    overflow-x: scroll;
}

.scrollable-column {
    overflow-y: scroll !important;
    width: 18rem !important;
    max-height: 60vh !important;
    height: fit-content !important;
}

.bg-light-blue {
    background-color: var(--light-blue) !important;
}

.bg-blue {
    background-color: var(--blue) !important;
}

.rounded-mine {
    border-radius: 20px !important;
}

.rounded-sm-mine {
    border-radius: 15px !important;
}

.shadow-mine {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.125), 0 6px 20px 0 rgba(0, 0, 0, 0.125);
}

.shadow-hard-mine {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

/******************************/
/* CHROMIUM SCROLLBARS STYLES */
/******************************/
::-webkit-scrollbar {
    width: 10px !important;
    background-color: var(--transparent);
}

::-webkit-scrollbar-button {
    background-color: var(--transparent);
    color: var(--white);
}

::-webkit-scrollbar-thumb {
    border-radius: 15px !important;
    box-shadow: inset 0 0 100px var(--light-gray) !important;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 100px var(--gray) !important;
}

::-webkit-scrollbar-thumb:active {
    box-shadow: inset 0 0 100px var(--dark-gray) !important;
}

::-webkit-scrollbar-track {
    background-color: var(--transparent);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background-color: var(--transparent);
}