:root {
  --background: #a8b9ef;
  --blue: #3960f6;
  --light-blue: #bcc8f3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background) !important;
}

footer {
  background-color: var(--light-blue);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.scroll {
  overflow-x: scroll;
  overflow-y: scroll;
}